@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: black !important;
}

.nav-link {
    color: white !important;
}

#logo {
    float: left;
    font-size: 1.8em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home_container{
    margin-top: 25px;
    background-image: asset-url('home_image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main{
    text-align: center;
    height: 500px;
    width: 1340px;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

/* Other Classes for Page Styling */

